@tailwind base;
@tailwind components;
@tailwind utilities;

.landingHeader {
  height: 60vh;
}

.eventsHeader {
  height: 20vh;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
